@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Outfit", sans-serif;

  /* background-image: url('assets/proj_bg.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%; */
}
.app{
  width: 80%;
  margin: auto;
}
a{
  text-decoration: none;
  color: inherit;
}
