.header{
    margin: 30px auto;
    background-image: url("../../assets/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 34vw;
    position: relative;
    border-radius: 40px;
    box-shadow: 4px 3px 3px black;
}
.header-content{
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: absolute;
    bottom: 40%;
    left: 6vw;
    max-width: 50%;
    animation: fadeIn 3s;
}
.header-content h1{
    font-family: "Outfit", sans-serif;
    font-weight: bold;
    color: white;
    text-shadow: 
        -2px -2px 0 #000,  
         2px -2px 0 #000,
        -2px  2px 0 #000,
         2px  2px 0 #000; 
           
    /* background-image: url(https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExODNpemsxZTN5d2dnb2M0MjRzbTZnc3d6bzQwaXN5YmEybXB0MGJxcSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/3oEhmP1i8wzdgx2vrW/giphy.gif);
    color: transparent;
    -webkit-background-clip: text; */
}
/* .header-content p{
    font-family: "Outfit", sans-serif;
    color: white;
    font-size: 1vw; 
    text-shadow: 
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000 
}
.header-content button{
    width: fit-content;
    padding: 10px 15px;
    border-radius: 30px;
    border: 2px solid black;
    cursor: pointer;
} */
@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@media (max-width:1050px) {
    .header{
        height: 38vw;
    }
    .header-content{
        max-width: 45%;
    }
}
@media (max-width:880px) {
    .header-content{
        max-width: 55%;
    }
    .header-content p{
        display: none;
    }
    .header-content button{
        padding: 2vw 4vw;
    }
    .header-content h1{
        font-size: 20px;
    }
}