.list-table-format {
    display: grid;
    grid-template-columns: 0.7fr 2fr 1fr 1fr; /* Adjusted the column widths */
    align-items: center;
    padding: 12px 15px;
    border: 1px solid #cacaca;
    font-size: 13px;
}

.list-table-format.title {
    background-color: #f9f9f9;
}

.list-table-format img {
    width: 50px;
    height: auto; /* Ensure the image maintains its aspect ratio */
}

@media (max-width: 768px) { /* Adjusting for tablets and medium screens */
    .list-table-format {
        grid-template-columns: 1fr 2fr 1fr; /* Reduced the number of columns */
    }
}

@media (max-width: 600px) { /* Adjusting for small screens */
    .list-table-format {
        grid-template-columns: 1fr 2fr; /* Further reduce to two columns */
    }
    .list-table-format.title {
        display: none; /* Hide the table headers */
    }
    .list-table-format img {
        width: 40px; /* Smaller image size for smaller screens */
    }
}

.curser {
    cursor: pointer;
}

.delete{
    cursor: pointer;
}


